.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.todo-wrapper {
  margin: 20px auto 20px auto;
  width: 500px;
  border: 5px solid rgba(73, 204, 249, 1.0);
  padding: 20px;
}
